    .header-cnt .nav{
        clear: left;
        float: left;
        margin: 0 auto;
        position: relative;
        top: 80px;
        height: auto;
        left: 50%;
        background: none;
        border-radiux: 0 0;
        border-top: 0px solid #252a30; 
        border-left: 0px solid #252a30; 
        border-right: 0px solid #252a30; 
        border-bottom: 0px solid #4a4d52; 
        box-shadow: none;
    }
    .header-cnt .nav li{
        float: left;
        position: relative;
        right: 50%
    }
    .header-cnt .nav li a{
        text-align: center;
        color: #eeeeee;
        margin: 0 1px 0 1px;
        padding: 5px 5px;
        background: #2f3133; 
        border-radius: 8px 8px; 
        border-top: 1px solid #252a30; 
        border-left: 1px solid #252a30; 
        border-right: 1px solid #252a30; 
        border-bottom: 1px solid #4a4d52; 
        box-shadow: -2px -2px 8px #222222 inset;
    }