<header class="head">
	<div class="header fn-clear">
		<section class="header-cnt fn-clear">
			<div class="logo">
				<div class="logo-cnt">
					<h3> &nbsp; </h3>
				 	<h1><a href="/">{{ site.blogName }}</a></h1>
				 	<h3> &nbsp; </h3>
				 	<h2>{{ site.blogDesc }}</h2>
				</div>
			</div>
			<nav class="nav">
				<ul>
					<li><a href="/" >Home</a></li>
					<!--<li><a href="/category.html" >Category</a></li>-->
					<li><a href="/archives.html" >Archives</a></li>
					<li><a href="/aboutme.html" >About Me</a></li>
					<!--<li><a href="/feed.xml" target="_blank" >Rss</a></li>-->
				</ul>
			</nav>
		</section>
	</div>
</header>