---
layout: default
---
<section class="content">
	<div class="content-cnt fn-clear">
		<div class="main fn-clear">
			<article class="entry">
				<h1 class="title">{{ page.title }}</h1>
               	<p class="meta"><time class="date" pubdate="{{ page.date | date_to_utc | date: '%Y-%m-%d' }}">{{ page.date | date_to_string }}</time> ·&nbsp;{{ page.category }}&nbsp;·&nbsp;<!-- By {{ page.author }} -->浏览量 <span data-hk-page="current"> - </span><g:plusone size="small"></g:plusone></p>
               	<p class="description">{{ page.description }}</p>
 			 	{{ content }}
                <h4> &nbsp </h4>
			</article><!-- .entry -->		
		</div>
        <div class="aside fn-clear">
            {% include contact.html %}
            {% include tag.html %}
            <!-- {% include project.html %}-->
            {% include visitor.html %}
        </div> 
        <!-- 多说评论框 start -->
        <div class="main fn-clear">
            <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
        <!-- 多说评论框 end -->
        <h3> &nbsp </h3>
            <nav class="pagination-link">
                {% if page.next %}
                <a class="prev" href="{{ page.next.url }}" rel="bookmark">&laquo;&nbsp;{{ page.next.title | truncatewords:4 }}</a>
                {% endif %}
                {% if page.previous %}
                <a class="next" href="{{ page.previous.url }}" rel="bookmark">{{ page.previous.title | truncatewords:4 }}&nbsp;&raquo;</a>
                {% endif %}
            </nav>
        </div>
	</div>
</section>